<!-- wp:fitnessblocktheme/header /-->

<!-- wp:fitnessblocktheme/fitnessbannersection {"className":"banner-slider-wrap"} -->
<!-- wp:fitnessblocktheme/fitnessbanner -->
<!-- wp:fitnessblocktheme/fitnessheading {"text":"Lorem Ipsum is dummy text of the\u003cbr\u003eprinting"} -->
<h1 class="wp-block-fitnessblocktheme-fitnessheading text-secondary">Lorem Ipsum is dummy text of the<br>printing</h1>
<!-- /wp:fitnessblocktheme/fitnessheading -->

<!-- wp:paragraph -->
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
<!-- /wp:paragraph -->

<!-- wp:fitnessblocktheme/fitnessbutton {"text":"Read More"} -->
<a href="" class="wp-block-fitnessblocktheme-fitnessbutton global-btn2 d-flex align-items-center text-center text-md-start primaryButton">Read More</a>
<!-- /wp:fitnessblocktheme/fitnessbutton -->
<!-- /wp:fitnessblocktheme/fitnessbanner -->

<!-- wp:fitnessblocktheme/fitnessbanner -->
<!-- wp:fitnessblocktheme/fitnessheading {"text":"Lorem Ipsum is dummy text of the\u003cbr\u003eprinting"} -->
<h1 class="wp-block-fitnessblocktheme-fitnessheading text-secondary">Lorem Ipsum is dummy text of the<br>printing</h1>
<!-- /wp:fitnessblocktheme/fitnessheading -->

<!-- wp:paragraph -->
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
<!-- /wp:paragraph -->

<!-- wp:fitnessblocktheme/fitnessbutton {"text":"Read More"} -->
<a href="" class="wp-block-fitnessblocktheme-fitnessbutton global-btn2 d-flex align-items-center text-center text-md-start primaryButton">Read More</a>
<!-- /wp:fitnessblocktheme/fitnessbutton -->
<!-- /wp:fitnessblocktheme/fitnessbanner -->
<!-- /wp:fitnessblocktheme/fitnessbannersection -->

<!-- wp:fitnessblocktheme/banner-form /-->

<!-- wp:fitnessblocktheme/fitnesschoosesection -->
<!-- wp:fitnessblocktheme/fitnesschoosecard -->
<!-- wp:fitnessblocktheme/fitnesschooseheading {"text":"Ipsum Dolor"} -->
<h3 class="wp-block-fitnessblocktheme-fitnesschooseheading">Ipsum Dolor</h3>
<!-- /wp:fitnessblocktheme/fitnesschooseheading -->

<!-- wp:paragraph -->
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae minima inventore voluptas. Officiis, excepturi nam.</p>
<!-- /wp:paragraph -->

<!-- wp:fitnessblocktheme/fitnesschooselink {"text":"Read more"} -->
<a href="" class="wp-block-fitnessblocktheme-fitnesschooselink start-btn">Read more<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
<!-- /wp:fitnessblocktheme/fitnesschooselink -->
<!-- /wp:fitnessblocktheme/fitnesschoosecard -->

<!-- wp:fitnessblocktheme/fitnesschoosecard -->
<!-- wp:fitnessblocktheme/fitnesschooseheading {"text":"Ipsum Dolor"} -->
<h3 class="wp-block-fitnessblocktheme-fitnesschooseheading">Ipsum Dolor</h3>
<!-- /wp:fitnessblocktheme/fitnesschooseheading -->

<!-- wp:paragraph -->
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae minima inventore voluptas. Officiis, excepturi nam.</p>
<!-- /wp:paragraph -->

<!-- wp:fitnessblocktheme/fitnesschooselink {"text":"Read more"} -->
<a href="" class="wp-block-fitnessblocktheme-fitnesschooselink start-btn">Read more<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
<!-- /wp:fitnessblocktheme/fitnesschooselink -->
<!-- /wp:fitnessblocktheme/fitnesschoosecard -->

<!-- wp:fitnessblocktheme/fitnesschoosecard -->
<!-- wp:fitnessblocktheme/fitnesschooseheading {"text":"Ipsum Dolor"} -->
<h3 class="wp-block-fitnessblocktheme-fitnesschooseheading">Ipsum Dolor</h3>
<!-- /wp:fitnessblocktheme/fitnesschooseheading -->

<!-- wp:paragraph -->
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae minima inventore voluptas. Officiis, excepturi nam.</p>
<!-- /wp:paragraph -->

<!-- wp:fitnessblocktheme/fitnesschooselink {"text":"Read more"} -->
<a href="" class="wp-block-fitnessblocktheme-fitnesschooselink start-btn">Read more<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
<!-- /wp:fitnessblocktheme/fitnesschooselink -->
<!-- /wp:fitnessblocktheme/fitnesschoosecard -->

<!-- wp:fitnessblocktheme/fitnesschoosecard -->
<!-- wp:fitnessblocktheme/fitnesschooseheading {"text":"Ipsum Dolor"} -->
<h3 class="wp-block-fitnessblocktheme-fitnesschooseheading">Ipsum Dolor</h3>
<!-- /wp:fitnessblocktheme/fitnesschooseheading -->

<!-- wp:paragraph -->
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae minima inventore voluptas. Officiis, excepturi nam.</p>
<!-- /wp:paragraph -->

<!-- wp:fitnessblocktheme/fitnesschooselink {"text":"Read more"} -->
<a href="" class="wp-block-fitnessblocktheme-fitnesschooselink start-btn">Read more<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
<!-- /wp:fitnessblocktheme/fitnesschooselink -->
<!-- /wp:fitnessblocktheme/fitnesschoosecard -->
<!-- /wp:fitnessblocktheme/fitnesschoosesection -->

<!-- wp:fitnessblocktheme/fitnesstrainingsection -->
<!-- wp:fitnessblocktheme/fitnesstrainingcard -->
<!-- wp:fitnessblocktheme/fitnessheading {"text":"make a type specimen"} -->
<h1 class="wp-block-fitnessblocktheme-fitnessheading text-secondary">make a type specimen</h1>
<!-- /wp:fitnessblocktheme/fitnessheading -->

<!-- wp:paragraph -->
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
<!-- /wp:paragraph -->
<!-- /wp:fitnessblocktheme/fitnesstrainingcard -->

<!-- wp:fitnessblocktheme/fitnesstrainingcard -->
<!-- wp:fitnessblocktheme/fitnessheading {"text":"make a type specimen"} -->
<h1 class="wp-block-fitnessblocktheme-fitnessheading text-secondary">make a type specimen</h1>
<!-- /wp:fitnessblocktheme/fitnessheading -->

<!-- wp:paragraph -->
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
<!-- /wp:paragraph -->
<!-- /wp:fitnessblocktheme/fitnesstrainingcard -->

<!-- wp:fitnessblocktheme/fitnesstrainingcard -->
<!-- wp:fitnessblocktheme/fitnessheading {"text":"make a type specimen"} -->
<h1 class="wp-block-fitnessblocktheme-fitnessheading text-secondary">make a type specimen</h1>
<!-- /wp:fitnessblocktheme/fitnessheading -->

<!-- wp:paragraph -->
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
<!-- /wp:paragraph -->
<!-- /wp:fitnessblocktheme/fitnesstrainingcard -->
<!-- /wp:fitnessblocktheme/fitnesstrainingsection -->

<!-- wp:fitnessblocktheme/fitnessexperiencesection -->
<!-- wp:fitnessblocktheme/fitnessexperienceslide -->
<!-- wp:paragraph -->
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<!-- /wp:paragraph -->
<!-- /wp:fitnessblocktheme/fitnessexperienceslide -->

<!-- wp:fitnessblocktheme/fitnessexperienceslide -->
<!-- wp:paragraph -->
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<!-- /wp:paragraph -->
<!-- /wp:fitnessblocktheme/fitnessexperienceslide -->

<!-- wp:fitnessblocktheme/fitnessexperienceslide -->
<!-- wp:paragraph -->
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<!-- /wp:paragraph -->
<!-- /wp:fitnessblocktheme/fitnessexperienceslide -->

<!-- wp:fitnessblocktheme/fitnessexperienceslide -->
<!-- wp:paragraph -->
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<!-- /wp:paragraph -->
<!-- /wp:fitnessblocktheme/fitnessexperienceslide -->
<!-- /wp:fitnessblocktheme/fitnessexperiencesection -->

<!-- wp:fitnessblocktheme/fitnessslideshow -->
<!-- wp:fitnessblocktheme/fitnessslide -->
<!-- wp:fitnessblocktheme/fitnessslidetextarea {"headingtext":"Client Says","titletext":"Lorem Ipsum"} -->
<div class="text-area"><p class="font-secondary">Client Says</p><h2>Lorem Ipsum</h2></div>
<!-- /wp:fitnessblocktheme/fitnessslidetextarea -->

<!-- wp:paragraph -->
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
<!-- /wp:paragraph -->

<!-- wp:fitnessblocktheme/fitnessslideheading {"text":"experience trainers","className":"trainer-position font-secondary text-uppercase mb-3"} -->
<h3 class="wp-block-fitnessblocktheme-fitnessslideheading trainer-position font-secondary text-uppercase mb-3">experience trainers</h3>
<!-- /wp:fitnessblocktheme/fitnessslideheading -->

<!-- wp:fitnessblocktheme/fitnessslidename {"text":"Mr. Jhon Samarton"} -->
<h3 class="wp-block-fitnessblocktheme-fitnessslidename font-primary">Mr. Jhon Samarton</h3>
<!-- /wp:fitnessblocktheme/fitnessslidename -->
<!-- /wp:fitnessblocktheme/fitnessslide -->

<!-- wp:fitnessblocktheme/fitnessslide /-->
<!-- /wp:fitnessblocktheme/fitnessslideshow -->

<!-- wp:fitnessblocktheme/footer /-->

<!-- wp:fitnessblocktheme/copyright /-->