<!-- wp:fitnessblocktheme/header /-->

<!-- wp:fitnessblocktheme/fitnessbanner -->
<!-- wp:fitnessblocktheme/fitnessheading {"text":"Lorem Ipsum"} -->
<h1 class="wp-block-fitnessblocktheme-fitnessheading text-secondary">Lorem Ipsum</h1>
<!-- /wp:fitnessblocktheme/fitnessheading -->

<!-- wp:paragraph -->
<p>Lorem</p>
<!-- /wp:paragraph -->

<!-- wp:fitnessblocktheme/fitnessbutton {"text":"Read more"} -->
<a href="" class="wp-block-fitnessblocktheme-fitnessbutton global-btn2 d-flex align-items-center text-center text-md-start primaryButton">Read more</a>
<!-- /wp:fitnessblocktheme/fitnessbutton -->
<!-- /wp:fitnessblocktheme/fitnessbanner -->

<!-- wp:fitnessblocktheme/fitnesschoosesection -->
<!-- wp:fitnessblocktheme/fitnesschoosecard -->
<!-- wp:fitnessblocktheme/fitnesschooseheading {"text":"Ipsum Dolor"} -->
<h3 class="wp-block-fitnessblocktheme-fitnesschooseheading">Ipsum Dolor</h3>
<!-- /wp:fitnessblocktheme/fitnesschooseheading -->

<!-- wp:paragraph -->
<p>Fitness</p>
<!-- /wp:paragraph -->

<!-- wp:fitnessblocktheme/fitnesschooselink {"text":"Read more"} -->
<a href="" class="wp-block-fitnessblocktheme-fitnesschooselink start-btn">Read more<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
<!-- /wp:fitnessblocktheme/fitnesschooselink -->
<!-- /wp:fitnessblocktheme/fitnesschoosecard -->
<!-- /wp:fitnessblocktheme/fitnesschoosesection -->

<!-- wp:fitnessblocktheme/fitnesstrainingsection -->
<!-- wp:fitnessblocktheme/fitnesstrainingcard -->
<!-- wp:fitnessblocktheme/fitnessheading {"text":"Make"} -->
<h1 class="wp-block-fitnessblocktheme-fitnessheading text-secondary">Make</h1>
<!-- /wp:fitnessblocktheme/fitnessheading -->

<!-- wp:paragraph -->
<p>Para</p>
<!-- /wp:paragraph -->
<!-- /wp:fitnessblocktheme/fitnesstrainingcard -->
<!-- /wp:fitnessblocktheme/fitnesstrainingsection -->

<!-- wp:fitnessblocktheme/fitnessexperiencesection -->
<!-- wp:fitnessblocktheme/fitnessexperienceslide /-->
<!-- /wp:fitnessblocktheme/fitnessexperiencesection -->

<!-- wp:fitnessblocktheme/fitnessslideshow -->
<!-- wp:fitnessblocktheme/fitnessslide -->
<!-- wp:fitnessblocktheme/fitnessslidetextarea {"headingtext":"Client Says","titletext":"Lorem Ipsum"} -->
<div class="text-area"><p class="font-secondary test-uppercase">Client Says</p><h2>Lorem Ipsum</h2></div>
<!-- /wp:fitnessblocktheme/fitnessslidetextarea -->

<!-- wp:paragraph -->
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
<!-- /wp:paragraph -->

<!-- wp:fitnessblocktheme/fitnessslideheading {"headingtext":"Experienced"} -->
<h2 class="trainer-position font-secondary text-uppercase mb-3">Experienced</h2>
<!-- /wp:fitnessblocktheme/fitnessslideheading -->

<!-- wp:fitnessblocktheme/fitnessslidename {"headingtext":"Mr"} -->
<h3 class="font-primary">Mr</h3>
<!-- /wp:fitnessblocktheme/fitnessslidename -->
<!-- /wp:fitnessblocktheme/fitnessslide -->

<!-- wp:fitnessblocktheme/fitnessslide /-->
<!-- /wp:fitnessblocktheme/fitnessslideshow -->

<!-- wp:fitnessblocktheme/footer /-->

<!-- wp:fitnessblocktheme/copyright /-->